<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>

</head>
<body class="d-flex aling-items-center  justify-content-center vh-100">

<div class="card shadow-sm" style="width: 22rem;">
    <div class="card-body">
        <h3 class="card-title text-center" >Login</h3>

        <div class="alert alert-danger text-center" th:if="${error}" th:text="${error}"></div>

        <form method="post" th:action="@{auth/login}" >
            <div class="mb-3">
                <label class="form-label">Usuario</label>
                <input type="text" name="username" class="form-control" placeholder="usuario" required>
            </div>

            <div class="mb-3">
                <label class="form-label">Contraseña</label>
                <input type="password" name="password" class="form-control" placeholder="contraseña" required>
            </div>

            <div class="text-end">
                <button type="submit" class="bt-btn-primary" >Iniciar Sesión</button>
            </div>
        </form>
    </div>

</div>


</body>
</html>